@using LAAuto.Web.Models.Services

@model UpdateServiceRequest

@{
    ViewBag.Title = "Update service";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <input type="hidden" asp-for="@Model.Id" />
        <form method="post">
            <div class="mb-3">
                <label asp-for="@Model.Name" class="form-label">Name</label>
                <input asp-for="@Model.Name" class="form-control" aria-required="true" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Description" class="form-label">Description</label>
                <input asp-for="@Model.Description" class="form-control" aria-required="true" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Location" class="form-label">Location</label>
                <input asp-for="@Model.Location" class="form-control" aria-required="true" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categories"></label>
                <br />
                @for (int i = 0; i < @Model.Categories.Count; i++)
                {
                            <input type="checkbox" asp-for="@Model.Categories[i].IsSelected" />
                            <label>@Model.Categories[i].Name</label>
                            <input type="hidden" asp-for="@Model.Categories[i].Id" />
                            <input type="hidden" asp-for="@Model.Categories[i].Name" />

                            <br />
                }
                <br />
                <span asp-validation-for="CategoryIds" class="small text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.OpenTime" class="form-label">OpenTime</label><br />
                    <select asp-for="@Model.OpenTime">
                      <option value="00:00">00:00</option>
                        <option value="1:00">1:00</option>
                        <option value="2:00">2:00</option>
                        <option value="3:00">3:00</option>
                        <option value="4:00">4:00</option>
                        <option value="5:00">5:00</option>
                        <option value="6:00">6:00</option>
                        <option value="7:00">7:00</option>
                        <option value="8:00">8:00</option>
                        <option value="9:00">9:00</option>
                        <option value="10:00">10:00</option>
                        <option value="11:00">11:00</option>
                        <option value="12:00">12:00</option>
                        <option value="13:00">13:00</option>
                        <option value="14:00">14:00</option>
                        <option value="15:00">15:00</option>
                        <option value="16:00">16:00</option>
                        <option value="17:00">17:00</option>
                        <option value="18:00">18:00</option>
                        <option value="19:00">19:00</option>
                        <option value="20:00">20:00</option>
                        <option value="21:00">21:00</option>
                        <option value="22:00">22:00</option>
                        <option value="23:00">23:00</option>
                    </select>
                <span asp-validation-for="OpenTime" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.CloseTime" class="form-label">CloseTime</label><br />
                <select asp-for="@Model.CloseTime">
                      <option value="00:00">00:00</option>
                        <option value="1:00">1:00</option>
                        <option value="2:00">2:00</option>
                        <option value="3:00">3:00</option>
                        <option value="4:00">4:00</option>
                        <option value="5:00">5:00</option>
                        <option value="6:00">6:00</option>
                        <option value="7:00">7:00</option>
                        <option value="8:00">8:00</option>
                        <option value="9:00">9:00</option>
                        <option value="10:00">10:00</option>
                        <option value="11:00">11:00</option>
                        <option value="12:00">12:00</option>
                        <option value="13:00">13:00</option>
                        <option value="14:00">14:00</option>
                        <option value="15:00">15:00</option>
                        <option value="16:00">16:00</option>
                        <option value="17:00">17:00</option>
                        <option value="18:00">18:00</option>
                        <option value="19:00">19:00</option>
                        <option value="20:00">20:00</option>
                        <option value="21:00">21:00</option>
                        <option value="22:00">22:00</option>
                        <option value="23:00">23:00</option>
                    </select>
                <span asp-validation-for="CloseTime" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input class="btn btn-primary" asp-controller="Service" asp-action="Update" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>