@{
    ViewBag.Title = "Make an appointment";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@using LAAuto.Web.Models.Appointments

@model UpdateAppointmentRequest

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form enctype="multipart/form-data" method="post">
            <div class="mb-3">
                <h4 class="form-label text-center">Appointment for: @Model.Service.Name</h4>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Description" class="form-label">Description</label>
                <input type="text" asp-for="@Model.Description" class="form-control" aria-required="true" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Category</label><br />
                        <select asp-for="@Model.CategoryId">
                    @foreach (var category in Model.Service.Categories)
                    {
                                <option value="@category.Id"> @category.Name</option>
                    }
                        </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Appointment time</label><br />
                        <input asp-for="@Model.StartDate" asp-for="@Model.EndDate" type="date" value="@Model.StartDate.ToString("yyyy-dd-mm")" min="@DateTime.UtcNow">
                        <select asp-for="@Model.StartDateHour">
                    @for (int i = Model.Service.OpenTime.Hour; i < Model.Service.CloseTime.Hour;)
                    {
                           <option value="@i"> @i:00-@(++i):00</option>
                    }
                        </select>
                <span asp-validation-for="StartDate" class="text-danger"></span>
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input class="btn btn-primary" asp-controller="Appointment" asp-action="Update" asp-route-id="@Model.Id" type="submit" value="Save" />
                <a class="btn btn-secondary" asp-controller="Appointment" asp-action="List">Cancel</a>
            </div>
        </form>
    </div>
</div>


@section Scripts{
                <partial name="_ValidationScriptsPartial" />
}